version: '3.9'

services:
  mongo:
    image: mongo:6.0
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: bryan834/ea-backend:latest   
    container_name: ea-backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/BBDD
      - NODE_ENV=production
    depends_on:
      - mongo

volumes:
  mongo-data:
